*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 53px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

h2 {
  text-transform: uppercase;
}

.underline {
  height: 3px;
  width: 100px;
  background-color: rgb(199, 82, 15);
  margin: 0 auto 30px;
}

.seperate-recipes {
  border: 1px dashed rgb(199, 82, 15);
}

.shadow-bg {
  background-color: whitesmoke;
}

nav {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  transition: background-color 0.6s;
  z-index: 5;
}
nav .navbar-brand {
  font-size: 14px;
}
nav .navbar-toggler {
  padding: 1px 3px;
}
nav a,
nav i {
  color: black;
  font-weight: normal;
}
nav a:hover {
  color: rgb(199, 82, 15);
}
nav .fa-bars {
  color: black;
  padding: 1px;
}
nav .active {
  color: rgb(199, 82, 15);
}
nav .navbar-center {
  width: 90vw;
  max-width: 1300px;
}
nav .orange-text {
  color: rgb(199, 82, 15);
  font-weight: bold;
}

.page {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 10px;
}
.page .hero {
  position: relative;
  height: 40vh;
  background: url("../img/bread-g396e7d657_640.jpg") center/cover no-repeat;
  border-radius: 10px;
  overflow: hidden;
}
.page .hero-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.page .hero-text {
  text-align: center;
  padding: 0 10px;
  color: white;
  z-index: 2;
}

.aboutus {
  text-align: center;
  padding-top: 20px;
}
.aboutus .fa-carrot,
.aboutus .fa-cookie,
.aboutus .fa-clock {
  font-size: 26px;
}
.aboutus .aboutus-card-title {
  text-transform: uppercase;
}
.aboutus .icons {
  margin-bottom: 20px;
  padding: 0 10px;
}

.dishes {
  padding-top: 20px;
}
.dishes .carousel {
  margin: 0 auto;
  width: 45vw;
}
.dishes .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.dishes .section-title {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: -webkit-text-decoration 0.5s;
  transition: text-decoration 0.5s;
  transition: text-decoration 0.5s, -webkit-text-decoration 0.5s;
}
.dishes .section-title:hover {
  text-decoration: underline;
}

.card {
  margin: 0 10px;
}
.card h5 {
  text-align: center;
}
.card .info-dishes {
  font-size: 14px;
  text-align: center;
}
.card .card-img-top {
  transition: opacity 0.3s;
}
.card .card-img-top:hover {
  opacity: 0.7;
}

.recipes-mobile {
  padding-top: 20px;
  text-align: center;
}

.mobile-recipe-section {
  margin: 20px auto;
}

.recipes {
  padding-top: 20px;
  text-align: center;
}
.recipes .afadga {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.recipes .image {
  height: 240px;
  width: 360px;
}
.recipes h3 {
  font-size: 24px;
}
.recipes p,
.recipes ul,
.recipes .text {
  font-size: 14px;
}
.recipes .text {
  max-width: 60vw;
  margin: 30px auto;
}

@media (min-width: 300px) {
  nav {
    font-size: 14px;
  }
  nav .navbar-brand {
    font-size: 16px;
  }
}
@media (min-width: 375px) {
  nav {
    font-size: 15px;
  }
  nav .navbar-brand {
    font-size: 18px;
  }
  nav .navbar-toggler {
    padding: 2px 6px;
  }
}
@media (min-width: 992px) {
  .page {
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  nav {
    font-size: 16px;
  }
  nav .navbar-brand {
    font-size: 20px;
  }
  .recipes .image {
    height: 300px;
    width: 450px;
  }
  .recipes h3 {
    font-size: 28px;
  }
  .recipes p,
.recipes ul,
.recipes .text {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */