* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

/* ---nav--- */

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(116, 223, 83);
    text-align: right;
}

.nav-items {
    display: none;
}

.nav-items a {
    padding: 0 20px;
    line-height: 80px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    /* border: 1px solid whitesmoke; */
    margin: 0 10px;
    transition: color .3s;
}

.nav-items a:hover {
    color: #09f;
}

.burger-icon {
    display: block;
    padding: 0 5px;
    margin-left: auto;
    background: none;
    border: none;
    line-height: 80px;
    font-size: 30px;
    cursor: pointer;
    transition: color .3s;
}

.burger-icon:hover {
    color: #09f;
}

/* ---header--- */

.header {
    position: relative;
    height: 300px;
    background-image: url('../img/bread-g396e7d657_640.jpg');
    background-position: center;
    background-size: cover;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.header-bg {
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-text h1 {
    margin-bottom: 3px;
}

@media (min-width: 768px) {

    .nav-items {
        display: block;
    }

    .burger-icon {
        display: none;
    }

    .header {
        background-image: url('../img/bread-g8424eda0a_1920.jpg');
    }
}