.aboutus {
    text-align: center;
    padding-top: 20px;
}

.aboutus .fa-carrot,
.aboutus .fa-cookie,
.aboutus .fa-clock {
    font-size: 26px;
}

.aboutus .icon-text {
    font-size: 14px;
}


@media (min-width: 1200px) {
    .icon-section {
        width: 90%;
        margin: 0 auto;
    }

    .posts-section {
        width: 85%;
        margin: 0 auto;
    }
}