h2 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.underline {
    height: 3px;
    width: 100px;
    background-color: rgb(199, 82, 15);
    margin: 0 auto 30px;
}

.shadow-bg {
    background-color: whitesmoke;
}
  
.aboutus {
    text-align: center;
    padding-top: 20px;
}

.aboutus .fa-carrot,
.aboutus .fa-cookie,
.aboutus .fa-clock {
    font-size: 26px;
}

.aboutus .icon-text {
    font-size: 14px;
}


@media (min-width: 1200px) {
    .icon-section {
        width: 90%;
        margin: 0 auto;
    }

    .posts-section {
        width: 85%;
        margin: 0 auto;
    }
}