.photo-and-ingridients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ingridients {
    text-align: center;
}

.ingridients ul {
    list-style: circle;
}

.photo {
    width: 300px;
}

.photo img {
    width: 100%;
    border-radius: 8px;
}

.photo button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.photo button:hover,
.photo button:active {
    background-color: black;
    color: white;
}

.text {
    text-align: center;
    font-size: 15px;
}

@media (min-width: 576px) {
    .photo {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .text {
        width: 80%;
        margin: 0 auto;
    }
}