{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% block css_files %} {% endblock %}
    <script src="https://kit.fontawesome.com/0746edf571.js" crossorigin="anonymous"></script>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar">

    <nav id="navbar" class="navbar navbar-expand-lg position-sticky top-0">
        <div class="container navbar-center">
            <a class="navbar-brand" href="{% url "starting-page" %}"><i class="fa-solid fa-utensils"></i> Babcine<span class="orange-text"> przysmaki</span><a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <button class="color-btn"><i class="fa-regular fa-moon"></i></button>
                    <a class="nav-link" href="{% url "starting-page" %}">strona główna</a>
                    <a class="nav-link" href="{% url "favourites" %}">ulubione</a>
                    <a class="nav-link" href="{% url "all-recipes-page" %}">baza przepisów</a>
                    {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle username" type="button" id="dropdownmenu" data-bs-toggle="dropdown"  aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                                <a class="dropdown-item" href="{% url "logout" %}">Wyloguj</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="nav-link orange-text last-link" href="{% url "sign-in" %}">zaloguj się</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main class="page">
        <header class="hero">
            <div class="hero-shadow">
                <div class="hero-text">
                    <h1>Lorem, ipsum dolor.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </header>
        {% block content %} {% endblock %}
    </main>
    
    <footer class="text-light text-center mt-4 py-2 footer">
        <p class="mb-0"> &copy; 2022 | Babcine przysmaki <a href="https://github.com/LKochan123/Culinary-recipes" target="_blank">
          <i class="fa-brands fa-github"></i></a> </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>