{% load static %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static "css/loging.css" %}" />
        {% block css_files %} {% endblock %}
        <script src="https://kit.fontawesome.com/0746edf571.js" crossorigin="anonymous"></script>
	</head>
	<body>
        <section class="container">
            <div class="icons">
                <a href="{% url "starting-page" %}"><i class="fa-solid fa-utensils"></i></a>
                <button class="info"><i class="fa-solid fa-question"></i></button>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                {% block contetnt %} {% endblock %}
            </form>
        </section>

        <div class="modal-shadow">
            <div class="modal">
                <h3>Co zyskasz zakładając konto?</h3>
                <p>- Możliwość komentowania postów</p>
                <p>- Trwałe zapisanie ulubionych przepisów</p>
                <button class="close">Zamknij</button>
            </div>
        </div>

        <script src="{% static "js/modal.js" %}"></script>
	</body>
</html>