{% extends "base.html" %}
{% load static %}

{% block title  %}
    Babcine przysmaki
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
    <section id="aboutus" class="aboutus pt-4">
        <div class="aboutus-title">
            <h2>O nas</h2>
            <div class="underline"></div>
            <div class="row justify-content-center icon-section">
                <div class="col-sm-6 col-md-4 text-center icons">
                    <p><i class="fa-solid fa-carrot"></i></p>
                    <h5 class="aboutus-card-title mb-1">Zdrowe produkty</h5>
                    <p class="icon-text">Stosujemy wiele warzyw i owoców najlepszej jakości!</p>
                </div>
                <div class="col-sm-6 col-md-4 text-center icons">
                    <p><i class="fa-solid fa-cookie"></i></p>
                    <h5 class="aboutus-card-title mb-1">Smak</h5>
                    <p class="icon-text">Wpasowanie się w cudze gusta nie stanowi dla nas wyzwania!</p>
                </div>
                <div class="col-sm-6 col-md-4 text-center icons">
                    <p><i class="fa-solid fa-clock"></i></p>
                    <h5 class="aboutus-card-title mb-1">Czas</h5>
                    <p class="icon-text">Szanujemy czas dlatego z nami zaoszczędzisz go o wiele więcej!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="best-recipes" class="best-recipes">
        <h2>Najnowsze przepisy</h2>
        <div class="underline"></div>

        <div class="row justify-content-center posts-section">
            {% for post in starting_page_posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </div>
    </section>
    
    <section class="questions">
        <h2>Najczęściej zadawane pytania</h2>
        <div class="underline"></div>

        <h5 class="question-title">Czy przepisy z tej strony są prawdziwe?</h5>
        <p class="answer">Tak, podane na tej stronie przepisy są przepisami zapisanymi przez
            moją babcię, także jak najbardziej można ich spróbować!</p>

        <h5 class="question-title">Po co została stworzona ta strona?</h5>
        <p class="answer">Strona została stworzona abym polepszył swoje 
            umiejętności w programowaniu, można powiedzieć że jest to mój pierwszy nieco większy projekt.</p>

        <h5 class="question-title">Czy strona będzie w przyszłości rozwijana?</h5>
        <p class="answer">Bardzo możliwe, że tak jeśli wpadnę na jakiś fajny pomysł
             lub będę chciał coś do niej dodać. To co jest teraz też powstawało w stopniowy sposób, 
             kiedy poznawałem kolejne narzędzia dzięki którym mogłem to stworzyć.</p>
    </section>
{% endblock %}