{% extends "base.html" %}
{% load static %}

{% block title  %}
    {{ post.title }}
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/single-post-recipe.css" %}">
    <link rel="stylesheet" href="{% static "blog/comments.css" %}">
{% endblock  %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <div class="underline"></div>

    <main>
        <section class="photo-and-ingridients row">
            <div class="ingridients col-md-6">
                <div class="box">
                    <h5>Niezbędne składniki:</h5>
                    <ul>
                        {% for ingridient in ingridients %}
                            <li>{{ ingridient }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="photo box col-md-6">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
        </section>

        <div class="text">
            <p>{{ post.content }}.</p>
        </div>
    </main>

    <section class="comments-section">
        {% csrf_token %}
        <form action="{% url "single-recipe-page" post.slug %}" method="POST">
            {% for input in comment_input_section %}
                <div class="form-section">
                    {{ input.label_tag }}
                    {{ input }}
                    {{ input.errors }}
                </div>
            {% endfor %}
            <div class="buttons">
                <button class="delete-comment-btn">Anuluj</button>
                <button class="add-comment">Skomentuj</button>
            </div>
        </form>
    </section>
{% endblock %}