{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title  %}
    {{ post.title }}
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/single-post-recipe.css" %}">
    <link rel="stylesheet" href="{% static "blog/comments.css" %}">
{% endblock  %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <div class="underline"></div>

    <main>
        <section class="photo-and-ingridients row">
            <div class="ingridients col-md-6">
                <div class="box">
                    <h5>Niezbędne składniki:</h5>
                    <ul>
                        {% for ingridient in ingridients %}
                            <li>{{ ingridient }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="photo box col-md-6" id="fav">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% if request.user.is_authenticated %}
                    <div class="favourite">
                        {% if is_favourite_login %}
                            <a href="{% url "favourite-add" post.id %}">
                                <i class="fas fa-heart fa-lg"></i>
                            </a>
                        {% else %}
                            <a href="{% url "favourite-add" post.id %}">
                                <i class="far fa-heart fa-lg"></i>
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <form action="{% url "favourites" %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ post.id }}" name="post_id">
                        <button>
                            {% if is_fav %}
                                Usuń z ulubionych! ⭐
                            {% else %}
                                Dodaj do ulubionych! ⭐
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </section>

        <div class="text">
            <p>{{ post.content }}.</p>
        </div>
    </main>

    <section class="comments-section">

        <div class="comments">
            {% if comments.count == 0 %}
                {% if request.user.is_authenticated %}
                    <p class="zero-comments">Brak komentarzy, możesz dodać pierwszy komentarz!</p>
                {% else %}
                    <p class="zero-comments">Brak komentarzy!</p>
                {% endif %}
            {% endif %}
            <ul>
                {% for comment in comments %}
                    <li>
                        <div class="top-section">
                            <h6>{{ comment.nickname }}</h6> 
                            {% language "pl" %}
                            <p>{{ comment.date|date }}</p>
                            {% endlanguage %}
                        </div>
                        <p class="comment-text">{{ comment.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if request.user.is_authenticated %}
        <form action="{% url "single-recipe-page" post.slug %}" method="POST" class="form">
            {% csrf_token %}
            <p class="actual-nick" >Komentujesz jako <span>{{ user.username }}</span></p>
            {% for input in comment_input_section %}
                <div class="form-section {% if input.errors %} input-error {% endif %}">
                    {{ input.label_tag }}
                    {{ input }}
                    {{ input.errors }}
                </div>
            {% endfor %}
            <div class="buttons">
                <button class="add-comment">Skomentuj</button>
            </div>
        </form>
        {% else %}
        <div class="create-acc">
            <p><a href="{% url "sign-up" %}">Stwórz konto</a> aby mieć możliwość komentowania postów.</p>
        </div>
        {% endif %}
    </section>
{% endblock %}